<div class="container">
  <h1>View Player Details</h1>

  <div>
    <strong>ID:</strong>
    <p>{{ player.id }}</p>
  </div>

  <div>
    <strong>Name :</strong>
    <p>{{ player.name }}</p>
  </div>

  <div>
    <strong>Team:</strong>
    <p>{{ player.team }}</p>
  </div>
  <div>
    <strong>Position:</strong>
    <p>{{ player.position }}</p>
  </div>
  <div>
    <strong>Shirt's number:</strong>
    <p>{{ player.pnumber }}</p>
  </div>
  <div>
    <strong>Nationality:</strong>
    <p>{{ player.nationality }}</p>
  </div>
  <div>
    <strong>Age:</strong>
    <p>{{ player.age }}</p>
  </div>
</div>
