<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="margin-left: 8px">Players-CRUD</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a routerLink="/player/create" class="btn btn-dark"> Add a new player </a>
  <a routerLink="/player/index" class="btn btn-dark"> View players list </a>
</nav>
